# ---- 依存物など ----
/node_modules
/.pnp
.pnp.js
/coverage
/build

# ---- ログ・環境 ----
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config.yaml

# ---- テキスト一括無視（必要なら）----
*.csv
*.txt

# ---- 実行バイナリを拡張子で無視 ----
*.exe
*.dll
*.so

# ---- TLS ディレクトリは残しつつ中身を無視 ----
config/tls/*
!config/tls/.gitkeep

# 念のため拡張子でも全体無視（どこにあっても無視）
*.pem
*.key

# ---- フロント埋め込みのビルド成果物 ----
/public/*
