version: 1.2
mode: "dev | release"
database:
  host: "<DB IP Address>"
  port: <DB port>
  user: "<DB user>"
  password: "<DB password>"
  dbname: "<DB name>"
certificate:
  cert: "<certificate name>"
  key: "<key file name>"